<li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">项目<span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% if mine %}
            <li>我创建的</li>
            {% for project in mine %}
                <li><a href="{% url 'dashboard' project_id=project.id %}">{{ project.name }}</a></li>
            {% endfor %}
            <li role="separator" class="divider"></li>
        {% endif %}
        {% if join %}
            <li>我参与的</li>
            {% for project in join %}
                <li><a href="{% url 'dashboard' project_id=project.id %}">{{ project.project.name }}</a></li>
            {% endfor %}
            <li role="separator" class="divider"></li>
        {% endif %}
        <li><a href="{% url 'project_list' %}">所有项目</a></li>
    </ul>
</li>
