{% extends 'layout/manage.html' %}
{% block content %}
    <div class="container-fluid" style="margin-top: 20px">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    新增问题趋势
                </div>
                <div class="panel-body">
                    <div id="chart" style="width:100%;min-height:200px"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-quora" aria-hidden="true"></i>
                            问题
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            项目成员
                        </div>
                        <div class="panel-body user-item">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-cog title-icon"></i>
                    详细
                </div>
                <div class="panel-body">
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    动态
                </div>
                <div class="panel-body top-10">
                </div>
            </div>

        </div>
    </div>
{% endblock %}