{% extends 'layout/base.html' %}
{% load static %}
{% block title %}BugTracker|登录{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block content %}
    <div class="account">
        <div class="title">用户登录</div>
        <form action="" id="login_sms_form" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-7">
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-xs-5">
                                <input type="button" id="smsBtn" class="btn btn-default" value="获取验证码">
                            </div>
                        </div>
                    </div>

                {% else %}
                    <div class="form-group">
                        {{ field }}
                        <span class="error-msg">{{ field.errors.0 }}</span>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-xs-12">
                    <input type="button" id="submitBtn" class="btn btn-primary col-xs-3" value="登 录">
                    <a href="{% url 'register' %}" type="button" class="btn btn-primary col-xs-offset-6 col-xs-3">注
                        册</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            ClickSMSBtn();
            ClickSubmitBtn();
        });

        // 通过ajax提交form表单中的数据
        function ClickSubmitBtn() {
            $('#submitBtn').click(function () {
                $('.error-msg').empty();
                $.ajax({
                    url: "{% url 'login_sms' %}",
                    type: "POST",
                    dataType: "JSON",
                    // 收集表单中的数据
                    data: $("#login_sms_form").serialize(), // 包含表单所有字段的数据，并且携带了csrf token
                    success: function (res) {
                        if (res.status) {
                            location.href = res.url  // 跳转到登录页面
                        } else {
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }

        function sendSMSRemind() {
            // 倒计时
            let $BtnSMS = $('#smsBtn');
            $BtnSMS.prop("disabled", true);
            let time = 60;
            let remind = setInterval(function () {
                $BtnSMS.val(time + "秒后重新发送")
                time = time - 1;
                if (time < 1) {
                    clearInterval(remind)
                    $BtnSMS.val("点击获取验证码").prop("disabled", false)
                }
            }, 1000)
        }

        /*获取验证码的事件*/
        function ClickSMSBtn() {
            $('#smsBtn').click(function () {
                $(".error-msg").empty() // 清空现有的错误信息
                // 获取用户输入的手机号
                let mobilePhone = $('#id_mobile_phone').val()
                // 发送ajax请求
                $.ajax({
                    url: "{% url 'send_sms' %}",
                    type: "POST",
                    data: {"mobile_phone": mobilePhone, template: "login"},
                    dataType: "JSON", // 将服务器返回的数据反序列化为字典
                    success: function (res) { // res: 后端返回的值
                        if (res.status) {
                            sendSMSRemind();
                        } else {
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}